div.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: rgb(195, 217, 255);
  width: 100%;
  /* padding: 20px; */
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-item {
  margin: 0 15px;
  font-size: 14px;
  color:black
}
