/* Global Styles */
body {
  font-family: Arial, sans-serif;

  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f0f4f8;
}

h1,
h2,
h3 {
  color: #1a237e;
}

a {
  color: #1a237e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
