div.message-container {
  /* a width and a black border on the card of latest news and announcement */
  width: 35vw;
  position: absolute;
  border: 2px solid black;
  height: 64vh;
  /* display: flex; */
  right: 70px;
  top: 80px;
  bottom: 63px;
  /* flex-direction: column; */
  border-radius: 20px;
  background-color: #ddd;
  color: #333;
  margin: auto;
  overflow-y: auto;
}

.message {
  background-color: grey;
  padding: 8px;
  width: auto;
  text-align: left;
  margin: 17px 12px;
  border: 2px solid black;
  border-radius: 10px;
}

.send {
  float: right;
  clear: both;
  color: white;
}
.incoming {
  float: left;
  clear: both;
  color: white;
}

#message-input {
  width: 29.5%;
  height: 30px;
  position: absolute;
  right: 145px;
  border: 2px solid;
  border-radius: 10px;
}
/* #send-container {
  display: block;
  margin: auto;
  text-align: center;
  max-width: 985px;
  width: 100%;
} */
#send-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 75px;
}
