.go-live-container {
  text-align: center;
  padding: 20px 20px;
  background-color: #f9f9f9;
  min-height: 80vh;
}

.go-live-container h1 {
  font-size: 36px;
  color: #2b2d42;
  /* margin-bottom: 40px; */
  text-align: left;
  position: relative;
  left: 20%;
}
.back-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  right: 90%;
  top: 25px;
  font-size: 18px;
}
.exit-button button {
  background-color: black;
  color: white;
  left: 90%;
  top: 25px;
}

.live-video-section {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

.video-frame {
  width: 700px;
  height: 500px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #333;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
  left: 70px;
  border: 2px solid;
}

.live-controls button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: left;
  position: relative;
  left: 70px;
  margin: 5px;
}

.go-live-button {
  float: left;
  background-color: #4caf50;
  color: white;
}

.go-live-button:hover {
  background-color: #45a049;
}

.stop-button {
  background-color: #f44336;
  color: white;
}

.stop-button:hover {
  background-color: #e53935;
}
