.conference-dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
}

.conf-table .cards {
  width: 100px;
  height: 100px;
}

h2 {
  color: #1a237e;
  font-size: 24px;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #2b2d42;
  color: #fff;
}

button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination button {
  background-color: #2b2d42;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.pagination span {
  font-weight: bold;
}

.quick-links {
  text-align: center;
  margin: 20px 0;
}

.quick-links-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.quick-link {
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.quick-link:hover {
  background-color: #0056b3;
}
